<nav class="site-nav py-4 bg-white">
  <div class="{% if page.url == '{{ site.baseurl }}/' %}container-lg-home{% else %}container-lg{% endif %} px-4">
    <div class="d-flex flex-justify-between flex-items-center">
      <div>
        <a class="heading-beta no-underline" href="{{ site.baseurl }}/">{% unless site.nav_logo_file == nil %}<img src="{{ site.nav_logo_file | absolute_url }}" alt="" class="site-logo mr-2">{% endunless %}</a>
      </div>
      <button type="button" name="Open nav" class="site-nav-trigger js-site-nav-trigger">
        nav
      </button>

          <ol class="site-nav-items list-style-none js-site-nav-list">              
            <li class="site-nav-item mb-0 mr-3 js-site-nav-item">
              <a class="site-nav-link" href="https://snakemake.readthedocs.io/en/stable/project_info/faq.html">
                About
              </a>
              </li>              
              <li class="site-nav-item mb-0 mr-3 js-site-nav-item">
              <a class="site-nav-link" href="https://snakemake.readthedocs.io/en/stable/getting_started/installation.html">
                 Docs
               </a>
            </li>
      </ol>
    </div>
  </div>
</nav>
